body {
position: absolute;
width: 1400px;
height: 3843px;
font-family: 'Poppins', sans-serif;
}
.header {
width: 100%;
max-width: 1400px;
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;
display: flex;
justify-content: space;
align-items: center;
box-sizing: border-box;
}
.nav{
list-style-type: none;
display: flex;
justify-content: flex-start;
}
.nav>li {
margin-left: 15px;
}

.nav>li>a {   
text-decoration: none;
color: #2F281E;
}

.nav_btn1 {

background-color: lightcyan ;

}
.nav_btn2 {

background-color:#FF9900 ;

}
.logo{
position: 250px;
width: 185.34px;
height: 31.97px;
left: 143.92px;
top: 22px;
display: flex;
align-items: center;
}

.logo_img {
display: block;
width: 30.16px;
height: 30px;
background-image: url(../Images/Bitmap.png);
margin-right: 20px;
}

.logo_text {
font-size: 14px ;
color:#2F281E ;

}

.sign-up
{ 
position: absolute;
left: 81.79%;
right: 10.36%;
top: 19.23%;
bottom: 21.79%;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height */
color: #FFFFFF;
background: #FF9900;
border-radius: 4px;
}

.left-side{
/* Left side */
width: 518px;
height: 331px;
left: 145px;
top: 211px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.block {
/* button */
width: 175px;
height: 53px;
left: 145px;
top: 489px;
justify-content: baseline;
align-items: baseline;
}

.icon1 {
display: block;
width: 30.16px;
height: 30px;
background-image: url(../Images/Triangle.png);
margin-right: 20px
}

.icon1{
/* Button */
width: 366px;
height: 53px;
left: 145px;
top: 489px;

}

.nav_btn1>li {
margin-left: 15px;
}
.nav1_btn2>li {
margin-right: 15px;}


.navi_btn1 {
background-color:#FF9900 ;
}

.design {
/* image */
position: absolute;
width: 605px;
height: 496px;
left: 666px;
top: 128px;
background-image: url(../Images/Productly1.png);
display: flex;
align-items: flex-end;
justify-content: flex-end;

}    